  @font-face {
            font-family: 'Amazon Ember';
            font-weight: 300;
            src: url('../fonts/AmazonEmber_Lt.ttf') format('truetype');
        }

        @font-face {
            font-family: 'Amazon Ember';
            font-weight: 400;
            src: url('../fonts/AmazonEmber_Rg.ttf') format('truetype');
        }

        @font-face {
            font-family: 'Amazon Ember';
            font-weight: 700;
            src: url('../fonts/AmazonEmber_Bd.ttf') format('truetype');
        }

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Amazon Ember', sans-serif;
            }

            .tab-section {
                background-color: #1d2834;
                width: 100%;
                height: 70px;
                padding: 0 15px;
                display: flex;
                align-items: center;
                position: relative;
            }

            .amazon-logo {
                margin-left: 30px;
                width: 75px;
                margin-top: 5px;
                cursor: pointer;
            }

            .amazon-tlevel-team-logo {
                display: inline-block;
                color: white;
                margin-left: 2px;
                cursor: pointer;
            }

            .navigation {
                background-color: #232F3E;
                width: 100%;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: left;
                padding: 0 40px;
                padding-left: 75px;
            }

            .navigation-bar {
                padding-left: 18px;
                flex: 1;
                height: 45px;
                color: black;
                outline: none;
                margin-right: 25px;
            }

            .navigation-bar:focus {
                outline: 2px solid rgba(255, 161, 19, 0.906);
            }

            .tlevel-info {
                background-color: #ebebeb;
                width: 100%;
                min-height: 400px;
                display: flex;
                gap: 20px;
                padding: 40px;
            }

            .opportunities-content,
            .careers-content,
            .aws-content {
                background-color: #fff;
                flex: 1;
                padding: 24px;
            }

            .t-level-content1 {
                background-color: #fff;
                width: 100%;
                min-height: 400px;
                display: flex;
                gap: 20px;
                padding: 40px;
            }

            .search-button {
                border-radius: 3px;
                background-color: #FF9900;
                display: inline;
                border: none;
                cursor: pointer;
                padding-left: 14px;
                padding-right: 14px;
                padding-top: 9px;
                padding-bottom: 9px;
                width: 50px;
                height: 43px;
            }

            .search-button i {
                font-size: 23px;
                color: #232F3E;
            }

            .fa-bars {
                color: white;
                font-size: 20px;
                margin-right: 10px;
                cursor: pointer;
            }

            .subheading {
                background-color: #1d2834;
                width: 100%;
                height: 160px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .promo-banner {
                background-color: #18202a;
                display: flex;
                align-items: center;
                width: 90%;
                height: 120px;
                padding: 0 20px;
                gap: 20px;
            }

            .promo-image {
                height: 90px;
                width: 200px;
                object-fit: cover;
            }

            .promo-text h2 {
                color: white;
                font-size: 22px;
            }

            .promo-text p {
                color: white;
                font-weight: 300;
            }

            .orange {
                color: #FF9900;
            }

            .explore-button {
                margin-left: auto;
                background: transparent;
                border: 2px solid white;
                color: white;
                padding: 10px 25px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.15s;
            }

            .explore-button:hover {
                background-color: white;
                color: black;
            }

            .info-content-header {
                font-weight: 500;
                padding-bottom: 15px;
            }

            .paragraph-content {
                margin-bottom: 20px;
                justify-content: center;
            }

            .placement-button {
                width: 400px;
                height: 50px;
                background-color: white;
                cursor: pointer;
                justify-content: center;
                border: 2px solid grey;
            }

            .meet-our-students,
            .tlevel-pathways,
            .your-placement {
                flex: 1;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                border: 1px solid #e0e0e0;
            }

            .your-placement-image,
            .tlevel-pathways-image,
            .students-image {
                width: 100%;
                height: 250px;
                border-radius: 2px;
                object-fit: cover;
            }

            .placement-button-title-text {
                color: black;
                text-decoration: none;
            }

            .tlevel-content-header {
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 20px;
            }

            .tlevel-content-paragraph {
                margin-bottom: 40px;
            }

            .card-text {
                padding: 20px;
                flex: 1;
                display: flex;
                flex-direction: column;
            }

            .card-text a {
                margin-top: auto;
                text-decoration: none;
                color: #0066c0;
            }

            .card-text a:hover {
                text-decoration: underline;
            }

            .plan-future-today-section {
                position: relative;
                width: 100%;
                height: 400px;
                overflow: hidden;
            }

            .plan-future-today-footer {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1.05);
                filter: brightness(50%);
            }

            .plan-future-today-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .footer-heading {
                color: white;
                display: flex;
                margin-left: 70px;
                font-size: 50px;
                font-weight: 400;
                margin-bottom: 35px;
            }

            .paragraph-footer-content {
                color: white;
                margin-left: 70px;
                display: flex;
                margin-bottom: 30px;
                max-width: 600px;
            }

            .dropdown-menu {
                background-color: white;
                width: 250px;
                max-height: 0;
                height: calc(100vh - 70px);
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                position: fixed;
                top: 70px;
                left: 0px;
                z-index: 1000;
            }

            .dropdown-menu.open {
                max-height: calc(100vh - 70px);
            }

            .dropdown-menu a {
                display: flex;
                color: black;
                text-decoration: none;
                padding: 20px 26px;
            }

            .dropdown-menu a:not(.register-interest-link):hover {
                border-left: 3px solid #FF9900;
            }

            .overlay {
                display: none;
                position: fixed;
                top: 70px;
                left: 0;
                width: 100%;
                height: 100vh;
                background: rgba(0, 0, 0 , 0.4);
                backdrop-filter: blur(4px);
                z-index: 999;
            }

            .overlay.active {
                display: block;
            }

            body.no-scroll {
                overflow: hidden;
            }

            #auth-section {
                margin-top: auto;
            }

            .register-interest {
                background-color: #FF9900;
                color: black;
                padding: 18px 30px;
                display: block;
                border-radius: 2px;
                border: 1px solid #FF9900;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.2s ease-in;
            }

            .register-interest:hover {
                background-color: #ffad32;
            }

            .amazon-ai-wrapper {
                border: 2px solid #e0e0e0;
                border-radius: 50%;
                position: fixed;
                bottom: 16px;
                right: 16px;
                z-index: 1000;
            }

            .amazon-ai-button {
                background-color: #1d2834;
                border: 1px solid #1d2834;
                border-radius: 200px;
                width: 65px;
                height: 65px;
                cursor: pointer;
            }

            .amazon-ai-button-logo {
                width: 55px;
                margin-top: 9px;
            }

            .amazon-ai-chat-wrapper {
                background-color: white;
                border: 1px solid #e0e0e0;
                width: 385px;
                height: 85vh;
                position: fixed;
                right: 16px;
                bottom: 90px;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                z-index: 1000;
            }

            .amazon-ai-chat-wrapper.open {
                display: block;
                opacity: 1;
                pointer-events: all;
            }

            .amazon-ai-chat-wrapper.close {
                opacity: 0;
                pointer-events: none;
            }

            .amazon-ai-title {
                font-size: 18px;
                font-weight:700;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
            }

            .three-dots-icon {
                width: 27px;
                position: relative;
                cursor: pointer;
                left: 25px;
                bottom: 23px;
            }

            .cross-icon {
                width: 28px;
                position: relative;
                cursor: pointer;
                left: 300px;
                bottom: 23px;
            }

            .amazon-ai-input {
                display: flex;
                border-radius: 6px;
                height: 35px;
                outline: none;
                border: 2px solid rgb(104, 112, 120);
                margin-left: 15px;
                margin-bottom: 45px;
                padding-left: 10px;
                width: 350px;
                position: relative;
            }

            .amazon-ai-input:focus {
                transition: border 0.2s ease;
                border: 2px solid black;
            }

            .orange-line {
                border: none;
                border-top: 2px solid #ff9900;
            }

            .right-arrow-submit {
                width: 25px;
                position: relative;
                right: 45px;
                bottom: 23px;
                cursor: pointer;
            }

            .ai-input-wrapper {
                position: relative;
                display: flex;
                align-items: center;
                margin-top: auto;
            }

            .grey-line {
                border: none;
                border-top: 2px solid #ebebf0;
                position: relative;
                margin-top: 450px;
                margin-bottom: 30px;
            }

            .courses-wrapper {
                width: 100%;
                min-height: 200px;
                margin-top: 10px;
                display: flex;
                gap: 20px;
                padding: 40px;
            }

            .course-tlevel-title {
                font-weight: 500;
                padding-bottom: 30px;
                font-weight: bold;
                cursor: pointer;
            }

            .course-tlevel-info {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .tlevel-course-image {
                width: 100%;
                object-fit: cover;
                height: 250px;
                border-radius: 2px;
                margin-bottom: 10px;
                position: relative;
                max-width: 450px;
                cursor: pointer;
            }

            .courses-wrapper-bottom {
                width: 100%;
                min-height: 400px;
                display: flex;
                padding: 40px;
                margin-top: auto;
            }

            .course-tlevel-info-bottom {
                display: flex;
                justify-content: center;
            }

            .courses-box {
                flex: 1;
                display: flex;
                flex-direction: column;
                max-width: 450px;
            }

            .course-title-link {
                color: black;
                text-decoration: none;
            }

            .why-tlevels-container {
                width: 100%;
                min-height: 200px;
                display: flex;
                padding: 20px;
                gap: 20px;
                margin-top: 10px;
                flex-direction: column;
                background-color: #F4F4F4;
            }

            .why-tlevels-content {
                display: flex;
                gap: 20px;
            }

            .t-levels-at-amazon-title {
                font-weight: 500;
                padding-bottom: 20px;
                font-weight: bold;
                display: block;
                margin-left: 20px;
            
            }

            .content-container {
                flex: 1;
                min-height: 200px;
                padding: 40px;
                gap: 20px;
                border: 2px solid black;
            }

            .tlevels-at-amazon-content-title {
                font-weight: 500;
                font-weight: bold;
                margin-bottom: 30px;
            }

            .tlevels-at-amazon-content {
                display: flex;
                align-items: center;
                margin-bottom: 50px;
                max-width: 400px;
            }

            .explore-page-body {
                background-color: #F4F4F4;
            }

            .pages-footer {
                width: 100%;
                height: 250px;
                background-color: rgb(35, 47, 62);
                display: flex;
            }

            .footer-brand {
                display: flex;
                align-items: center;
            }

            .amazon-logo-footer {
                width: 100px;
            }

            .amazon-tlevel-team-logo-bottom {
                color: white;
                margin-left: 4px;
                margin-bottom: 8px;
            }

            .social-icons-column {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 10px;
            }

            .social-icons-container {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            .social-icons {
                width: 40px;
                height: 40px;
                border-radius: 400px;
                background-color: #FF9900;
                border: 1px solid #FF9900;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            .social-icons img {
                width: 20px;
                height: 20px;
            }

            .facebook-social-icon {
                width: 40px;
                height: 40px;
                border-radius: 400px;
                background-color: #FF9900;
                border: 1px solid #FF9900;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            .facebook-social-icon img {
                width: 10px;
                height: 20px;
            }

            .footer-container {
                display: flex;
                flex: 1;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 65px;
                padding: 0 115px;
            }

            .instagram-social-icon {
                width: 40px;
                height: 40px;
                border-radius: 400px;
                background-color: #FF9900;
                border: 1px solid #FF9900;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            .instagram-social-icon img {
                width: 25px;
                height: 20px;
            }

            .twitter-social-icon {
                width: 40px;
                height: 40px;
                border-radius: 400px;
                background-color: #FF9900;
                border: 1px solid #FF9900;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            .twitter-social-icon img {
                width: 30px;
                height: 20px;
            }

            .amazon-copyright-mark {
                color: #F4F4F4;
                font-size: 10px;
            }

            .bottom-footer-copyright {
                margin-top: 200px;
                position: relative;
                right: 490px;
            }

            .footer-heading {
                color: white;
            }

            .paragraph-footer-content {
                color: white;
            }

            .learn-about-tlevels-button {
                display: inline-block;
                width: 235px;
                margin-left: 70px;
                background: #FF9900;
                color: black;
                height: 55px;
                border: 2px solid #FF9900;
                border-radius: 2px;
                outline: none;
                padding: 15px 35px;
                text-decoration: none;
                text-align: center;
                cursor: pointer;
                transition: background-color 0.15s;
            }

            .learn-about-tlevels-button:hover {
                background-color: transparent;
                color: white;
                border: 2px solid white;
            }

            .register-page-body {
                background-color: #F4F4F4;
            }

            .eop-form-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .eop-form-container {
                background-color: #F4F4F4;
                border: 3px solid #d8d8dba5;
                height: 650px;
                border-radius: 5px;
                width: 500px; 
                display: flex;
                flex-direction: column;
                margin-top: 40px;
                margin-bottom: 60px;
            }

            .eop-form-container.closed {
                overflow: hidden;
                pointer-events: none;
                display: none;
            }

            .field {
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
                gap: 6px;
                align-items: center;
            }

            .courses {
                border-radius: 3px;
                height: 40px;
                border: 2px solid #ababae;
                outline: none;
                width: 85%;
                background-color: #F4F4F4;
                padding-left: 10px;
                margin-bottom: 10px;
            }

            .input-box {
                border-radius: 3px;
                height: 40px;
                border: 2px solid #ababae;
                outline: none;
                width: 85%;
                background-color: #F4F4F4;
                padding-left: 10px;
                margin-bottom: 10px;
            }

            .input-box.error {
                border: 2px solid #cc0c39;
            }

            .courses.error {
                border: 2px solid #cc0c39;
            }

            .form-labels {
                width: 85%;
                color: black;
                font-weight: bold;
                text-align: left;
            }

            .result-text {
                width: 85%;
                color: black;
                font-weight: bold;
                text-align: center;
            }

            .input-box:focus {
                border: 2px solid rgb(123, 129, 123)
            }

            .register-interest-title {
                font-weight: 400;
                font-size: 34px;
                margin-top: 30px;
                margin-left: 35px;
                margin-bottom: 25px;
            }

            .eop-submit-button {
                width: 85%;
                margin: 0 auto;
                background-color: #FF9900;
                height: 50px;
                border: 1px solid #FF9900;
                border-radius: 2px;
                font-size: 15px;
                transition: background-color 0.2s ease-in;
            }

            .eop-submit-button:hover {
                background-color: #ffad32;
            }

            .red-warning-icon {
                width: 18px;
                position: relative;
                top: 3px;
                margin-right: 8px;
            }

            .name-error-message {
                display: none;
                width: 85%;
                text-align: left;
                color: #cc0c39;
                font-size: 13px;
                font-weight: bold;
            }

            .name-error-message.show {
                display: block;
            }

            .email-error-message {
                display: none;
                width: 85%;
                text-align: left;
                color: #cc0c39;
                font-size: 13px;
                font-weight: bold;
            }

            .email-error-message.show {
                display: block;
            }

            .courses-error-message {
                display: none;
                width: 85%;
                text-align: left;
                color: #cc0c39;
                font-size: 13px;
                font-weight: bold;
            }

            .courses-error-message.show {
                display: block;
            }

            .details-error-message {
                display: none;
                width: 85%;
                text-align: left;
                color: #cc0c39;
                font-size: 13px;
                font-weight: bold;
            }

            .details-error-message.show {
                display: block;
            }

            .success-message-container {
                display: flex;
                justify-content: center;
            }

            .success-message-wrapper {
                background-color: #18202a;
                border: 3px solid #FF9900;
                height: 650px;
                border-radius: 5px;
                width: 500px; 
                display: none;
                flex-direction: column;
                margin-top: 40px;
                margin-bottom: 60px;
                overflow: hidden;
                pointer-events: none;
                align-items: center;

            }

            .success-message-wrapper.open {
                display: flex;
                pointer-events: all;
            }

            .success-message {
                font-size: 15px;
                width: 85%;
                color: rgb(190, 190, 190);
                text-align: center;
                margin-bottom: 40px;
            }

            .working-days-text {
                font-weight: bold;
                color: white;
            }

            .amazon-logo-success {
                width: 120px;
                margin-top: 40px;
                cursor: pointer;
                margin-bottom: 40px;
            }

            .all-set-title {
                color: white;
                font-size: 24px;
                margin-bottom: 20px;
            }

            .return-home-text {
                text-decoration: none;
                color: black;
                font-size: 15px;
            }

            .return-home {
                width: 150px;
                height: 40px;
                background-color: #FF9900;
                color: black;
                margin-top: 40px;
                border: 1px solid #FF9900;
                border-radius: 5px;
            }

            .post-form-content-section {
                display: flex;
            }

            .success-post-steps {
                display: flex;
            }

            .steps {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                padding: 0;
                border-radius: 50%;
                border: none;
                background: #FF9900;
                color: #131A22;
                font-weight: 500;
            }

            .success-post-steps {
                display: flex;
                align-items: flex-start;
                gap: 12px;
                margin-bottom: 14px;
            }

            .step-text {
                display: flex;
                flex-direction: column;
            }

            .post-form-requirements-subheading {
                color: white;
                font-size: 15px;
                margin: 0;
                line-height: 24px;
            }

            .post-form-requirements {
                color: rgb(190, 190, 190);
                font-size: 15px;
                margin: 4px 0 0;
            }

            .post-form-requirements-wrapper {
                display: flex;
                flex-direction: column;
            }

            .what-next {
                color: rgb(190, 190, 190);
                display: flex;
                text-align: left;
                width: 85%;
            }

            .user-box {
                font-size: 17px;
                margin-left: 20px;
                display: flex;
                align-items: center;
                gap: 5px;
                margin-bottom: 20px;
            }

            .profile-picture-icon {
                width: 40px;
            }

            #logoutBtn {
                width: 60px;
                height: 30px;
                background-color: #FF9900;
                border: 1px solid #FF9900;
                border-radius: 3px;
                margin-left: 7px;
                cursor: pointer;
                transition: background-color 0.2s ease;
            }

            #logoutBtn:hover {
                background-color: #ffad32;
            }

            .finance-title-section {
                position: relative;
                width: 100%;
                height: 500px;
            }

            .finance-image {
                width: 100%;
                height: 500px;
                opacity: 0.5;
                object-fit: cover;
                object-position: 50% 15%;
                display: flex;
            }

            .finance-header {
                top: 50%;
                left: 50%;
            }

            .finance-title {
                position: absolute;
                top: -30%;
                left: 20%;
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .finance-subtitle {
                position: absolute;
                top: -23%;
                left: 20%;
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .finance-subcontent {
                position: absolute;
                top: -14%;
                left: 20%;
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

        .rectangle-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }

         .finance-rectangle {
            height: 1100px;
            width: 800px;
            background-color: #e0e0e0;
            display: flex;
            justify-content: center;
            padding: 1000px 800px;
         }
            
        .finance-info-title {
            position: absolute;
                top: 20%;
                left: 20%;
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
        }

        .finance-info-details {
            position: absolute;
            top: 25%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-about-title {
            position: absolute;
            top: 38%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-about-details {
            position: absolute;
            top: 47%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-what-todo-title {
            position: absolute;
            top: 65%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-what-todo-details {
            position: absolute;
            top: 71%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-what-todo-ul {
            position: absolute;
            top: 82%;
            left: 23%;
            width: 77%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-eligible-title {
            position: absolute;
            top: 100%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-eligible-details {
            position: absolute;
            top: 104%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-eligible-ul {
            position: absolute;
            top: 114%;
            left: 23%;
            width: 77%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-programme-title {
            position: absolute;
            top: 135%;
            left: 20%;
            width: 18%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-programme-details {
            position: absolute;
            top: 145%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-who-looking-for-title {
            position: absolute;
            top: 165%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-who-looking-for-details {
            position: absolute;
            top: 171%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-who-looking-for-ul {
            position: absolute;
            top: 180%;
            left: 23%;
            width: 77%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-who-looking-for-p {
            position: absolute;
            top: 190%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


        .finance-future-dev-title {
            position: absolute;
            top: 200%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .finance-future-dev-details {
            position: absolute;
            top: 205%;
            left: 20%;
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }